

    <h2>Reminders: </h2>
    
 <table style="width:100%">
  <tr>
    <td>The budget for 2019 is due October 8, 2018!!!!</td> 
  </tr>
  <tr>
    <td>The meeting to discuss the opening of The Cook Island School is scheduled for July 29, 2018 at 3pm, EST</td>
  </tr>
</table>