<h1>Students</h1>
<div class="flex-container">


    <div id="my-students">
        <% @students.each do |student| %>

       <%= render student %>
    
<% end %>
    <div>
        <%= link_to 'New Student', new_student_path, remote: true, id: "ajaxcall" %>
    </div>
    </div>

<br>

    <div id="student-form" style="display:none;">
    </div>
</div>