<div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/cohorts">Cohorts</a></li>
        <li><a href="/">Groups</a></li>
        <li><a href="/">Wet Suits</a></li>
        <li><a href="/">Surf Boards</a></li>
        <li><a href="/schools/Hawaii">Hawaii</a></li>
        <li><a href="/schools/Nicaragua">Nicaragua</a></li>
        <li><a href="/schools/TheCookIslands">The Cook Islands</a></li>
        <li><a href="/">Help</a></li>
        <ul> 
    </div>

<h2>Welcome to the HELPme Page</h2>



Browse the categories below to learn about HELPme and how it works. If you don't find what you need, contact support using the link at the bottom of the page.

<h3>HELPme categories</h3>

    <div>Frequently asked question</div>
    <div>Getting started</div>
    <div>Searching</div>
    <div>Password Help</div>      
    <div>Troubleshooting</div>
    <div>Need more help?</div>
   
</br>
<a href="/">Contact Support</a>
