
<div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/cohorts">Cohorts</a></li>
        <li><a href="/">Groups</a></li>
        <li><a href="/">Wet Suits</a></li>
        <li><a href="/">Surf Boards</a></li>
        <li><a href="/schools/Hawaii">Hawaii</a></li>
        <li><a href="/schools/Nicaragua">Nicaragua</a></li>
        <li><a href="/schools/TheCookIslands">The Cook Islands</a></li>
        <li><a href="/">Help</a></li>
        <ul> 
    </div>


    


  







