<h1>Course</h1>
<div class="flex-container">

<div>
    <nav class="navbar">    
        <ul>
            <li><a href="/instructors/new">Create Course</a></li>
            <li><a href="/instructors/:id/edit">Edit Course</a></li>
        </ul>
    </nav>
</div>



<table class="forms">
    <thead>
        <th>Reference No.</th>
        <th>Name</th>
        <th>Hours Required</th>
    </thead>
    <tbody>
<% @courses.each do |c| %>
    <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.total_hours %></td>
    </tr>

<% end %>
    </tbody>
</table>
</div>

