<h1>Course</h1>
<div class="flex-container">
<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/students">Students</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/cohorts">Cohorts</a></li>
        <li><a href="/">Groups</a></li>
        <li><a href="/">Wet Suits</a></li>
        <li><a href="/">Surf Boards</a></li>
        <li><a href="/schools/Hawaii">Hawaii</a></li>
        <li><a href="/schools/Nicaragua">Nicaragua</a></li>
        <li><a href="/schools/TheCookIslands">The Cook Islands</a></li>
        <li><a href="/">Help</a></li>
    </ul>    
</div>

<div>
    <nav class="navbar">    
        <ul>
            <li><a href="/instructors/new">Create Course</a></li>
            <li><a href="/instructors/:id/edit">Edit Course</a></li>
        </ul>
    </nav>
</div>



<table class="forms">
    <thead>
        <th>Reference No.</th>
        <th>Name</th>
        <th>Hours Required</th>
    </thead>
    <tbody>
<% @courses.each do |c| %>
    <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.total_hours %></td>
    </tr>

<% end %>
    </tbody>
</table>
</div>

