<h1>Course-Index</h1>
<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Home</a></li>
    <li><a href="/">Help</a></li>
    <li><a href="login">Log in</a></li>
  </ul>
</nav>

<table>
    <thead>
        <th>Reference No.</th>
        <th>Name</th>
        <th>Hours</th>
    </thead>
    <tbody>
<% @courses.each do |c| %>
    <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.total_hours %></td>
    </tr>
<% end %>
    </tbody>
</table>