<h1>Course-Index</h1>

<table>
    <thead>
        <th>Reference No.</th>
        <th>Name</th>
        <th>Hours Required</th>
    </thead>
    <tbody>
<% @courses.each do |c| %>
    <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <td><%= c.total_hours %></td>
    </tr>
<% end %>
    </tbody>
</table>

<button class="button">New</button>
<button class="button">Edit</button>
<button class="button">Delete</button>
<button class="button">Print</button>