

body {
    //background-color: #77CBB9;
    background: url(assets_path("ruben-gutierrez-365908-unsplash.jpg"));
    background-color: #7DBDE0;
    padding-bottom: 100px;
}
.logo {
    max-width: 200px;
    max-height: 200px;
}
.header {
    background-color: #77CBB9;
    text-align: center;
    color: #231218;
    padding: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: #75b8c8;
    background-color: #570320;
}

li {
    float: left;
    list-style-type: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 27px;
    text-decoration: none;
}

li a:hover {
    // background-color: #570320;
    background-color: #75b8c8;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container>* {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.main {
    text-align: center;
}

.link-color {
    color: red;
}

span {
    font-size: 18px;
    font-weight: bold;
     }

.footer {
    background-color: #77CBB9;
    padding: 10px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}